@use "../../../../styles/mixins" as mixins;

.planet-structure {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @include mixins.for-phone-only {
    flex-direction: row;
    gap: 0;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--border-color);
  }
}
